/* =============
    Index - Gallery
============= */
#gallery{
    >div{
        ul{
            display:grid;
            grid-template-columns: 30px 30% auto 20px;
            grid-template-areas: ". gallery1 gallery1 ." ". gallery2 gallery3 ." ". . gallery3 .";

            @include md{
                grid-template-areas: ". . gallery1 ." ". gallery2 gallery1 ." ". gallery3 gallery1 .";
                grid-template-columns: 15% 30% auto 5%;
            }
            @include lg{
                grid-template-columns:". . gallery2 ." ". . gallery2 gallery1" ". gallery3 . gallery1";
                grid-template-columns: 15% 30% auto 5%;
            }
            li{
                background-repeat: no-repeat;
                background-size: cover;
                >div{
                    height:100%;
                    width: 100%;
                    border-radius: 1000px;
                    mix-blend-mode: soft-light;
                }
            }
            li:nth-child(1){
                background-image: url("../../deploy/img/index/page1_link1.jpg");
                height:45vh;
                width:100%;
                border-radius: 1000px;
                background-position: 100%;
                grid-area:gallery1;

                @include md{
                    height: 33vh;
                    width: 90%;
                }
                @include lg{
                    height: 55vh;
                    width: 85%;
                }
                div{
                    background-color: $blue;
                }
            }
            li:nth-child(2){
                background-image: url("../../deploy/img/index/page1_link2.jpg");
                height:15vh;
                width:100%;
                border-radius: 1000px;
                background-position: 30%;
                grid-area:gallery2;

                @include md{
                    width: 70%;
                    margin-top:30%;
                }
                @include lg{
                    width: 65%;
                    height:25vh;
                    margin-top:0;
                }
                div{
                    background-color: $red;
                }
            }
            li:nth-child(3){
                background-image: url("../../deploy/img/index/page1_link3.jpg");
                height:25vh;
                width:85%;
                border-radius: 1000px;
                background-position: 30%;
                margin-top:20%;
                grid-area:gallery3;

                @include md{
                    height: 20vh;
                    width: 90%;
                    margin-left: 15%;
                }
                @include lg{
                    height: 40vh;
                    width: 100%;
                    margin-left: 0;
                }
                div{
                    background-color: $orange;
                }
            }
        }
    }
}
