#athletes-who {
    overflow: hidden;
    background-color: $blue-dark;
    @include md {
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-areas: "athletesWhoTitle athletesWhoImgs""athletesWhoPara athletesWhoImgs";
    }
    @include lg {
        grid-template-columns: 35% auto;
        grid-template-areas: "athletesWhoTitle athletesWhoImgs""athletesWhoPara athletesWhoImgs";
    }

    h2 {
        grid-area: athletesWhoTitle;
        color: $blue;
        font-family: 'Barlow';
        font-weight: 800;
        font-size: rem-calc(60);
        line-height: 0.9;
        padding: 30px 30px 0;
        @include md {
            padding: 50px 50px 0;
        }
        @include lg {
            width: 50%;
        }
    }

    article {
        grid-area: athletesWhoImgs;
        position: relative;
        height: 50vh;
        @include md {
            height: auto;
        }
        @include lg {}

        #athletes-circleguy {
            height: 150px;
            position: absolute;
            right: 30px;
            @include md {
                right: 25vw;
                top: 50px;
            }
            @include lg {
                height: 200px;
                top: 8%;
                right: auto;
                left: 5%;
            }
        }

        h3 {
            font-family: 'Barlow';
            font-weight: 800;
            font-size: rem-calc(60);
            z-index: 10;
            color: $blue-light;
            position: absolute;
            top: 30%;
            left: 38%;
            @include md {
                top: 35%;
                left: 25%;
            }
            @include lg {
                top: 35%;
                left: 25%;
            }
        }

        #athletes-circlecar {
            height: 200px;
            position: absolute;
            left: -30px;
            bottom: 30px;
            @include md {
                left: auto;
                right: 5vw;
                bottom: 50px;
            }
            @include lg {
                height: 350px;
                right: auto;
                left: 35%;
                bottom: 5%;
            }
        }

        h2 {
            overflow: hidden;
            font-family: 'Barlow';
            font-weight: 800;
            font-size: rem-calc(200);
            z-index: 10;
            color: $blue-light;
            position: absolute;
            bottom: 0;
            right: 0;
            @include md {
                bottom: 20px;
                right: -65px;
            }
            @include lg {
                padding: 0;
                right: auto;
                left: 70%;
            }
        }
    }

    section {
        grid-area: athletesWhoPara;

        h3 {
            font-weight: 700;
            font-size: rem-calc(26);
            color: $blue-light;
            padding: 30px 30px 5px;
            @include md {
                padding: 30px 0 5px 50px;
            }
            @include lg {}
        }

        p {
            color: $blue-light;
            padding: 0 30px 40px;
            @include md {
                padding: 0 0 50px 50px;
            }
            @include lg {
                padding: 0 50px 50px;
            }
        }
    }
}
