/* =============
    Base
============= */
main{
    position: relative;
    z-index: 10;
}


figure{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}


.section-content{
    padding: 40px 0;

    @include md{
        padding: 50px 0;
    }
}


.container {
    max-width: 1024px;
    margin: 0px auto;
    width: 100%;
  }

  .location-container {
      background-color: $blue-dark;
    }
