/* =============
    Typography
============= */
body {
  font-family: 'Raleway',;
}

h1 {
  font-family: 'Barlow',;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

p {
  line-height: rem-calc(25);
  @include lg {
    line-height: rem-calc(30);
  }
}
