#form {
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  @include md {
    padding: 40px;
    grid-template-rows: 0fr 0fr;
    grid-template-columns: auto auto;
  }

  div {
    justify-self: center;
    align-self: center;
  }

  aside {
    justify-self: center;
    align-self: center;
  }

  input {
    border: 2px solid #eeeeee;
    height: 46px;
    margin: 10px 0 0;
    padding: 1%;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333333;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 300;
  }

  #fname {
    width: 100%;
  }

  #lname {
    width: 100%;
  }

  #email {
    width: 100%;
  }

  #address {
    width: 100%;
  }

  input[type=checkbox] {
    visibility: hidden;
  }

  #checkbox {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
  }

  .customCheck {
    width: 90%;
    float: left;
    margin-top: 20px;
    position: relative;
  }

  .customCheck label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
  }

  .customCheck label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .customCheck label:hover::after {
    opacity: 0.5;
  }

  .customCheck input[type=checkbox]:checked + label:after {
    opacity: 1;
  }

  .robot {
    display: inline-block;
    position: relative;
    width: 60%;
    margin: 0 0 0 30px;
    line-height: 1em;
  }

  #submit {
    border: 0;
    width: 25%;
    height: 60px;
    margin: 30px auto 0;
    background: #eee;
    color: #333;
    text-align: center;
    transition: background, color, 0.5s ease 0;
    border: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333333;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 300;
  }

  #submit:hover {
    background: #DADADA;
    border: 1px #DADADA;
    color: #C43C3E;
  }

  #wrapper {
    max-width: 1020px;
    height: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 20px;
  }
  /* Div Layout Styling */
  #subscribeBox {
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
    height: auto;
    width: 50%;
    min-width: 325px;
  }

  *:focus {
    outline: none;
  }

  .subscribeForm {
    margin: 20px 0 0;
    width: 90%;
  }
  /* Text Styling for h2, p, a */
  h2 {
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #333333;
    font-style: normal;
  }

  .thin {
    font-weight: 200;
  }

  a {
    text-decoration: none;
    color: #333333;
  }

  a:hover {
    text-decoration: none;
    color: #C43C3E;
  }

  p {
    width: 90%;
    margin: 20px 0 0;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333333;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 300;
  }
}
