#coke{
  background-image: url("../img/sponsors/coke.jpg");
  background-size: 250%;
  background-position: 35% center;
  background-repeat: no-repeat;
  height: 75vh;
  display: grid;
  grid-auto-rows: 1fr 1fr 1fr;
  @include md{
    background-size: 130%;
  }
  @include lg{
    background-size: 110%;
  }
  .red-opacity{
    background-color: rgba(164, 27, 0, 0.7);
    display: flex;
    align-items: center;
  }
  p{
    text-align: center;
    color: $white;
    padding: 0px 20px 0px 20px;
    font-size: rem-calc(16);
    @include md{
      font-size: rem-calc(26);
    }
  }
}
