#overwhelming{
  position: relative;
  @include md{
    padding-top: 120px;
  }
  >div{
    background-color: $gray-light;
    padding: 20px;
    @include md{
      width: 513px;
      height: 165px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 0px 0px 20px;
      position: absolute;
      top: 30px;
      margin-left: 30px;
    }
    h2{
      color: $red;
      font-size: rem-calc(30);
      @include md{
        font-size: rem-calc(38);
      }
    }
    p:nth-child(2){
      font-size: rem-calc(20);
      @include md{
        font-size: rem-calc(26);
      }
    }
    p:nth-child(3){
      font-size: rem-calc(12);
      @include md{
        font-size: rem-calc(16);
      }
    }
  }
  aside{
    background-image: url("../img/sponsors/viagra.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    @include md{
      background-size: contain;
      background-position: 90% center;
    }
  }
  #last-p{
    text-align: center;
    padding: 20px 40px;
    font-size: rem-calc(18);
    @include md{
      padding: 20px 100px;
    }
    @include lg{
      padding: 40px 250px;
    }
    span{
      color: $red;
      font-weight: 700;
    }
  }
}
