#viewers{
  padding-top: 10px;
  p:nth-child(1){
    color: $purple;
    text-align: center;
    font-size: rem-calc(16);
    font-weight: 700;
    padding: 0px 30px 0px 30px;
    @include md{
      font-size: rem-calc(26);
      padding: 0px 90px 0px 90px;
    }
    @include lg{
      text-align: left;
      padding: 0px 150px 0px 120px;
    }
  }
  p:nth-child(2){
    color: $purple;
    text-align: center;
    font-size: rem-calc(12);
    padding-bottom: 30px;
    @include md{
      font-size: rem-calc(16);
    }
    @include lg{
      text-align: left;
      padding: 0px 150px 30px 120px;
    }
  }
  div{
    background-color: $blue-dark;
    img{
      width: 100%;
    }
  }
}
